.header-text {
    color:pink;
}

.subheader-text {
    color:rgb(245, 196, 61);
    font: bold;
    font-family: cursive;
    font-size: larger;
}

.aboutheader {
    color: rgb(126, 189, 240);
    font-family: fantasy;
}
.bold {
    font: bold;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.center-text {
    text-align: center;
}